*{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navbar */
nav {
    padding: 20px;
    background-color: #0d6efd;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav .active {
    text-decoration: underline;
}


/* User List Page */

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table{
    width: 40%;
}

table, th, td {
    border: 1px solid black;
}

thead {
    background-color: lightblue;
}

th, td{    
    padding: 10px;
}

/* Add User & Edit User Page */
.form {
    margin-top: 20px;
}

input{
    text-align: start;
    padding: 5px;
}

button{
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}